# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

remove-env.sh

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/webhook

# Non-frontend folders (moved to GCP-functions repo)
/api
/handler
/payment-link-generator
/processor
/provider-setup
/scripts
/app
/docs
numbers.json
test-numbers.json

.env
.env.yaml
deploy.env
deploy.state

.history